<html>
<head>
  <meta charset="utf-8" />
  <title>注册界面</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dmaku.main.css') }}" />
  <script type="text/javascript">
    window.onload = function () {
      var serviceCheck = document.getElementById("serviceCheck");
      var registerBt = document.getElementById("registerBt");
      registerBt.onclick = function () {

        if (!serviceCheck.checked) {
          alert('请先勾选同意注册协议')
        }
      }

    }
  </script>
</head>

<body>
  {% for message in get_flashed_messages() %}
  <div class="flash"><h3 style="text-align:left;color:red;">{{ message }}</h3></div>
  {% endfor %}
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 login_content_wrapper">
          <div class="content_wrapper">

            <h1 class="title">注册您的帐户</h1>
            <form class="new_user_session" id="new_user_session" accept-charset="UTF-8" method="post">
              <div class="form-group">
                <label for="user_email">用户名</label>
                <input autofocus="autofocus" class="form-control" name="username" id="user_email" />
              </div>
              <div class="form-group">
                <label for="user_password">密码</label>
                <input autocomplete="off" class="form-control" type="password" name="password" id="user_password" />
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <input id="serviceCheck" type="checkbox" checked="true" />
                    <label for="service" style="font-size:13px;font-weight:normal;">同意<a
                        href="{{ url_for('auth.service') }}">注册协议</a></label>
                  </div>
                  <div class="col-xs-12 col-sm-6 text-right">
                    <input id="registerBt" class="btn btn-default btn-success" value="注 册" type="submit" />
                  </div>
                </div>
              </div>

              <div class="from-group">
								<div class="row forgot_password">
									<div class="col-sm-12">
										<a style="float:right;"
											href="{{ url_for('auth.login') }}">登录帐号</a>
									</div>
								</div>
							</div>

            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>