<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Terms of Service</title>
</head>

<body>

    <div class="center main">
        <div class="p-head">
            <h3 class="head-title">服务条款</h3>
        </div>
        <div style="padding:10px 20px">
            <p class="content">
                <span>更新日期：2019年6月</span>
            </p>
            <p class="content">
                <span>欢迎来到Data Visible！</span>
            </p>
            <p class="content">
                Data Visible是由XXX提供的互联网软件服务。本服务条款（下称“服务条款”）是您与XXX之间关于您（“您”或“用户”）访问和使用Data Visible以及提供的其他服务（下称“服务”）的主要协议。您注册、登录Data Visible和使用其提供的服务，即表示您同意接受服务条款，如您不同意该协议，请不要使用本服务。因此，敬请仔细阅读。
            </p>
            <p class="content">
                本系统有权不时地对服务条款做任何修改和补充，并在Data Visible网站上公布。服务条款的修改和补充将在公布时立即生效。您继续访问和使用Data Visible即视为您接受修订后的服务条款。如您不同意修订后的服务条款，您应停止访问Data Visible并拒绝使用服务或删除您在Data Visible上的信息和帐户来终止接受服务。
            </p>
            <p class="content">如果您代表某个机构而非您个人注册、登录和使用Data Visible和/或我们其他的服务，则您将被认为获得充分授权代表该机构同意本服务条款以及不时修订和补充的服务条款。</p>
            <h2 class="section">1.服务内容</h2>
            <p class="content">
                Data Visible的具体服务由本系统根据实际情况提供，例如、个人信息分享以及在线评论、在线协作等服务。本系统为用户提供了专业易用的作图工具和海量图库资源，支持在线创作流程图、思维导图、原型图、网络拓扑图和UML图等，同时依托于互联网实现了用户间的实时协作和共享。
            </p>
            <p class="content">
                为不断提升用户体验，本系统会不时为用户提供其他服务内容，届时，可能与您另行签订其他专项协议。但即使未另行签订其他专项协议，您使用Data Visible的具体服务时，也将被视为您同意本系统关于该等具体服务的任何要求。如果其他专项协议和本条款之间存在冲突，应以其他专项协议为准，但以该冲突和与该协议特定事宜相关为限。
            </p>
            <p class="content">
                本系统保留随时变更、中止或终止免费服务的权利，并保留根据实际情况随时调整Data Visible提供的服务种类、形式的权利。本系统不承担因Data Visible提供的任何免费服务的调整给您造成的损失。尽管有本条约定，本系统有权在未来恰当的时机对该等免费服务内容收取相应的服务费用。本系统保留随时终止向您提供的收费服务的权利，并保留根据实际情况随时调整Data Visible提供的收费服务种类和形式的权利。如果本系统终止提供某项收费服务，本系统的义务仅在于向您返还您尚未使用的服务期对应的部分费用。但无论如何，本系统将尽合理的努力为您预留合理的时间以便您为该等服务的变更、中止或终止做出应对。
            </p>
            <h2 class="section">2.注册</h2>
            <p class="content">
                为了能访问Data Visible和使用服务，您同意以下事项：依Data Visible网站提示填写准确的、真实的注册邮箱、密码和名称，并确保今后更新的登录邮箱、名称、头像等资料的有效性和合法性。若您提供任何违法、虚假、不道德或本系统认为不适合在Data Visible上展示的资料；或者本系统有理由怀疑您的资料属于病毒程序或恶意操作；或者您违反本服务条款的规定；或者未经本系统同意，将Data Visible用于商业目的，本系统有权暂停或终止您的帐号，并拒绝您于现在和未来使用服务之全部或任何部分。
            </p>
            <p class="content">
                尽管有前述规定，本系统无义务对任何用户的任何登记资料承担任何责任，包括但不限于鉴别、核实任何登记资料的真实性、准确性、完整性、适用性及/或是否为最新资料的责任。同时，本系统建议您妥善保管您的注册邮箱、密码和名称，准确输入该等信息将作为您访问登录Data Visible并享有服务的关键环节。如果您发现有人未经授权使用您的帐户信息或怀疑任何人在未经授权的情况下，能够访问您的私有内容，您应立即更改密码，并向我们反馈。如果您提供的信息不正确或您未能确保您的帐户信息的安全而造成任何损失或损害，本系统不承担任何责任。
            </p>
            <h2 class="section">3.内容发布以及使用权</h2>
            <p class="content">3.1内容的发布</p>
            <p class="content">
                用户在Data Visible上发布的内容（包含但不限于Data Visible目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表本系统的立场或观点。作为内容的发布者，您对在本平台上传、发布的内容承担全部责任，与本系统无关。本系统无法控制经由本平台上传、发布的内容，因此不保证上传、发布的内容的正确性、合法性、安全性、完整性。尽管本系统有权对您上传至Data Visible的数字作品进行审核，但该审核仅限于形式审核，不对&nbsp;您上传的内容作任何实质性审核，且本系统的上述审核行为不视为本系统对于您使用本平台所上传、发布的内容承担任何保证责任。如您使用本平台长传的内容违反法律规定或侵害到其他人合法权益导致任何第三人提出索赔的，&nbsp;均由您独立承担全部法律责任。
            </p>
            <p class="content">
                如若本系统有理由认为您使用本服务的行为违反法律规定或有任何第三方通知本系统您使用本服务的行为侵犯其合法权益的，本系统有权暂停或终止您使用本服务的全部或部分，即便您使用本服务的行为有可能最终未被有管辖权的司法机构认定为非法或侵犯任何第三方的合法权益。
            </p>
            <p class="content">
                您认为其他用户在Data Visible上发表的内容侵犯您的合法权利，您有权向本系统提交书面通知（该书面通知应当包含下列内容：（一）您的姓名、联系方式和地址；（二）要求删除或者断开链接的内容的名称和网络地址；（三）构成侵权的初步证明材料；（四）对侵权行为的简要描述。如果您代表所属单位、机构，还请提交委托证明；该书面通知包含的每页内容您均应亲笔签名或加盖公司印章，您可以将上述书面通知的电子扫描件文档发送至本系统指定电子邮箱【support@Data Visible.com
                】</p>
            <p class="content">
                本系统将在收到您提交的书面通知后下架您在书面通知书里要求取消公开的涉嫌侵权的内容或断开与该等涉嫌侵权内容的链接并将您的通知书的内容通过邮件的方式转送给涉嫌侵权的版权方，即为本系统履行完毕向涉嫌侵权的版权方转送该通知书的义务.
            </p>
            <p class="content">
                如本款上述涉嫌侵权的版权方认为本系统依据您的通知书删除或断开链接的涉嫌侵权的内容未侵犯他人权利的，其有权向本系统提交书面说明，要求恢复被下架的内容或者恢复与被断开的内容的链接，本系统将在接到其书面说明后恢复被下架的内容或者恢复与被断开的内容的链接，同时将该书面说明通过邮件的方式转送给您。本系统上述下架内容与恢复内容的行为是在用户的申请下进行的，并非本系统独立做出的相关决定，关于侵权方与被侵权方之间的纠纷，由双方独立解决，本系统作为平台方仅负有沟通、协调的义务，不承担双方之间的任何侵权责任。
            </p>
            <p class="content">用户不得使用Data Visible服务发送或传播敏感信息和违反国家法律制度的信息，包括但不限于下列信息：</p>
            <ul class="items">
                <li>(1) 反对宪法所确定的基本原则的；</li>
                <li>(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
                <li>(3) 损害国家荣誉和利益的；</li>
                <li>(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</li>
                <li>(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
                <li>(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
                <li>(7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
                <li>(8) 侮辱或者诽谤他人，侵害他人合法权益的；</li>
                <li>(9) 含有法律、行政法规禁止的其他内容的。</li>
            </ul>
            <p class="content">
                用户承诺发表言论要：爱国、守法、自律、真实、文明。不传播任何非法的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、危害国家安全的、泄露国家机密的、破坏国家宗教政策和民族团结的以及其它违反法律法规及政策的内容。若用户的行为不符合以上提到的服务条款，Data Visible将作出独立判断立即暂停或终止用户的服务帐号。用户需对自己在网上的行为承担法律责任，Data Visible不承担任何法律责任及连带责任。
            </p>
        
            <h2 class="section">10.特别约定</h2>
            <p class="content">本服务条款及其下的服务受中华人民共和国法律管辖，并按之解释。</p>
            <p class="content">用户使用本服务的行为若有任何违反国家法律法规或侵犯任何第三方合法权益的情形，本系统有权直接删除该等违反规定的信息，并可以暂停或终止向该用户提供服务。</p>
            <p class="content">若用户利用本服务从事任何违法或侵权行为，由用户自行承担全部责任，本系统不承担任何法律责任及连带责任。因此给本系统或任何第三方造成任何损失的，用户应负责全额赔偿。</p>
            <p class="content">用户在此特别声明并承诺，用户已充分注意本服务协议内免除或限制本系统责任的条款，用户完全知晓并理解该等条款的规定并同意接受。</p>
            <h2 class="section">11.联系我们</h2>
            <p class="content">欢迎您对我们的服务条款提出意见。如有任何问题、意见或疑虑，请发邮件至support@XXX.com 此电子邮件地址作为本服务条款的组成部分可能会不时进行更新。</p>
            <br><p class="content">@XXX公司保留一切权利。</p>
        </div>
    </div>

</body>

</html>