{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <div class="left">
        <ul>
            {% for table in tables %}
            <li><a href="{{ url_for('web.add',tableName=table['Tables_in_edb']) }}"> {{ table['Tables_in_edb'] }} </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="right">
        <table border="0.1">
            <tr>
                <th>date</th>
                <th>data</th>
            </tr>
            {% for data in datas %}
            <tr>
                <td>{{data['A']}}</td>
                <td>{{data['B']}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}