{% extends 'base.html' %}

{%block nav %}
    <a href="{{ url_for('web.index') }}"><button class="userMes1">系统数据</button></a>
    <a href="{{ url_for('web.myData') }}"><button class="userMes1">我的数据</button></a>
{% endblock %}

{% block header %}
<script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript">
    function formReset(tableNames) {
        var len = tableNames.length;
        for(var i = 1;i<len+1;i++) {
            var temp = `#checkbox${i}`;
            $(temp).prop('checked', false);
        }
    }
</script>

{% endblock %}

{% block content %}
<div class="wrap">
    <div class="left">
        <ul>
            {% for table in tables %}
            {% if table['Tables_in_edb'] != 'user' and table['Tables_in_edb'].split('_')[0].lower() != 'user' %}
            <li><a href="{{ url_for('web.add',tableName=table['Tables_in_edb']) }}"> {{ table['Tables_in_edb'] }} </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        
    </div>

    <div class="right">
        <form method="post" action="/saveData/barChart" id="myForm">
            {% for tablename in tableNames %}
            <p><input type="checkbox" id="checkbox{{loop.index}}" name="tablename" checked="true" value={{ tablename }} />
                {{ tablename }}</p>
            {% endfor %}
            <input class="visible" type="submit" value="查看图形" />
            <input class="reset" type="button" onclick="formReset({{tableNames}})" value="重置" />
        </form>
    </div>

</div>
{% endblock %}