{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <div class="left">
        <ul>
            {% for table in tables %}
            <li><a href="{{ url_for('web.add',tableName=table['Tables_in_edb']) }}"> {{ table['Tables_in_edb'] }} </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="right">
        <div class="rightTop">

            <form  method="post" action="/barChart/light">
                {% for tablename in tableNames %}
                <p><input type="checkbox" name="tablename" checked="checked" value={{ tablename }} /> {{ tablename }}</p>
                {% endfor %}
                <input type="submit" value="查看图形" />
            </form>

        </div>
        <!-- <div class="rightBottom">
            <table border="1">
                <tr>
                    <th>date</th>
                    {% for tablename in tableNames %}
                    <th>{{tablename}}</th>
                    {% endfor %}
                </tr>
                {% for data in content %}
                <tr>

                    <td>{{ data['A'] }}</td>
                    <td>{{ data['B'] }}</td>
                </tr>
                {% endfor %} -->

            </table>
        </div>
    </div>

</div>
{% endblock %}