{% extends 'base.html' %}

{% block header %}

<head>
  <meta charset="UTF-8">
  <title>Awesome-pyecharts</title>
  <script src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>

  <!-- 引入主题文件 -->
  <script src="{{ url_for('static', filename='vintage.js') }}"></script>
  <script src="{{ url_for('static', filename='purple-passion.js') }}"></script>

</head>
{% endblock %}

{% block content %}

<body>
  <div style="width:'100%'; height:50px;">
    <ul>
      <div>
        <a href="{{ url_for('visible.visible',chartType='lineChart' ) }}">折线图</a>
        <a href="{{ url_for('visible.visible',chartType='scatterChart' ) }}">散点图</a>
        <a href="{{ url_for('visible.visible',chartType='barChart' ) }}">柱状图</a>
        <a href="{{ url_for('visible.setTheme', setTheme='dark' ) }}">风格-dark</a>
        <a href="{{ url_for('visible.setTheme', setTheme='light' ) }}">风格-light</a>
        <a href="{{ url_for('visible.setTheme', setTheme='purple-passion' ) }}">风格-purple-passion</a>
        <a href="{{ url_for('visible.setTheme', setTheme='vintage' ) }}">风格-vintage</a>
      </div>
    </ul>
  </div>

  <div id="bar" style="width:'100%'; height:600px;"></div>
  <script>
    $(
      function () {
        var chart = echarts.init(document.getElementById('bar'), '{{ theme }}', { renderer: 'canvas' });
        $.ajax({
          type: "GET",
          url: "http://127.0.0.1:5000/{{operator}}",
          dataType: 'json',
          success: function (result) {
            chart.setOption(result);
          }
        });
      }
    )
  </script>

</body>
{% endblock %}